<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Form Submission</title>
</head>
<body style="background-color : skyblue">
<h1>Spring Boot project for HTML to Java form submission</h1>
<form action="/register" method="post">
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" required><br><br>

    <label for="PhNum">Phone Number:</label>
    <input type="tel" id="PhNum" name="PhNum" required><br><br>

    <label for="EmailId">Email Id:</label>
    <input type="email" id="EmailId" name="EmailId" required><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
